<mat-toolbar class="toolbar mat-primary white">

  <mat-toolbar-row>

    <div class="logo">
      <img class="robot" src="../assets/Picture3.png">
    </div>
    <h1>Bob's Computer Repair  Shop</h1>
    <div style="width: 100%">
      <div fxLayout="row wrap" fxLayoutAlign="end start">
        <button mat-button routerLink="/home">Home</button>
        <button mat-button routerLink="/services">Services</button>
        <button mat-button routerLink="/contact">Contact</button>
      </div>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

<br />
<div fxLayout="row wrap">

  <div fxFlex>

    <mat-card class="main-container">
      <mat-card-title class="blue">
        {{ assignment }}
      </mat-card-title>
      <br /><br />
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>

    </mat-card>

  </div>

</div>
