.services-card {
  width: 25%;
  margin: auto;

}

.parts-labor {
  text-align: center;
}

mat-form-field {
  width: 80%;
}

button {
  align-content: center;
}


.computer-repairman {

  width: 850px;
  height: auto;
}
