
<div fxLayout="row wrap" fxLayoutGap="20px">
  <div fxFlex>
    <mat-card class="services-card">

     <mat-card-title>Select Services</mat-card-title>
     <mat-card-subtitle>Please select at least one service</mat-card-subtitle>
      <mat-card-content>
          <mat-selection-list>
            <mat-list-option>Password Reset ($39.99)</mat-list-option>
            <mat-list-option>Spyware Removal ($99.99)</mat-list-option>
            <mat-list-option>RAM Upgrade ($129.99)</mat-list-option>
            <mat-list-option>Software Installation ($49.99)</mat-list-option>
            <mat-list-option>Tune-up ($89.99)</mat-list-option>
            <mat-list-option>Keyboard Cleaning ($45.00)</mat-list-option>
            <mat-list-option>Disk Clean-up ($149.99)</mat-list-option>
          </mat-selection-list>
      </mat-card-content>

          <br /><br />
          <mat-card-title>Parts and Labor</mat-card-title>
        <mat-card-subtitle>Enter parts cost and labor hours</mat-card-subtitle>
        <mat-card-content class="parts-labor">
          <mat-form-field >
            <mat-label>Cost of Parts</mat-label>
            <input matInput placeholder="Parts cost">
          </mat-form-field>
          <br />
          <mat-form-field>
            <mat-label>Labor ($50 per hour)</mat-label>
            <input matInput placeholder="# of hours">
          </mat-form-field>
          <br /><br />

            <button type="submit" mat-raised-button color="accent" >Submit</button>
        </mat-card-content>
      </mat-card>
  </div>

</div>

