
<div class="home-container">
  <div fxLayout="column" style="margin: 0 auto; width: 100%">
    <div fxFlex>
      <mat-card>
        <br>
        <mat-card-content>
          <form #checkboxForm="ngForm" (submit)="submit()">
            <div fxLayout="row wrap" fxLayoutGap="200px grid">
              <div fxFlex="40%">
                <mat-card class="mat-elevation-z8">
                  <mat-card-title class="text-center">Services:</mat-card-title>
                  <br>
                  <mat-card-content>
                    <div *ngFor="let item of workServices">
                      <mat-checkbox value="{{item.amount}}" [(ngModel)]="item.checked" [name]="item.work" color="primary">
                        {{ item.work }} - {{ item.amount | number: '1.2-2' }}


                      </mat-checkbox>
                    </div>
                    <br>
                    <hr class="line">
                    <br>
                    <p>Additional Fees:</p>
                    <mat-form-field appearance="fill" color="accent">
                      <mat-label>Parts Total</mat-label>
                      <input matInput [(ngModel)]="total.partsAmount" type="number" name="parts" />
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" color="accent">
                      <mat-label>Labor Costs @ $10.00 per hr</mat-label>
                      <input matInput [(ngModel)]="total.laborAmount" type="number" name="labor" />
                    </mat-form-field>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-raised-button color="primary" class="submit-button">Submit Order</button>
                  </mat-card-actions>
                </mat-card>

              </div>
              <div fxFlex="20%">
                <div fxLayout="column" class="computer-repairman">
                  <div>
                    <img class="computer-repairman" src="./assets/jeshoots-com-resize.jpg" alt="laptop with neon lights">
                  </div>
                </div>
              </div>


            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
