#button {
  padding-left: 50px;
  padding-bottom: 20px;
}


.services {
  text-align: center;
  padding-right: 120px;
  width: 30%;
}

.mat-list-base.inline-list {
  padding-left: 200px;
}

.laptop-pic {
  padding-left: 200px;
  width: 30%;
}

h2 {
  text-align: center;
}
