<br /><br />
<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column" class="laptop-pic">
      <div>
        <img src="../../assets/shinyLaptop.PNG" alt="Man working on the inside of a computer">
      </div>
    </div>
  </div>

  <div fxFlex class="services mat-elevation-z8">
    <h2>Let the pros at Bob's take care of your computer.</h2>
    <mat-list class="inline-list">
      <mat-list-item>Password Reset ($39.99)</mat-list-item>
      <mat-list-item>Spyware Removal ($99.99)</mat-list-item>
      <mat-list-item>RAM Upgrade ($129.99)</mat-list-item>
      <mat-list-item>Software Installation ($49.99)</mat-list-item>
      <mat-list-item>Tune-up ($89.99)</mat-list-item>
      <mat-list-item>Keyboard Cleaning ($45.00)</mat-list-item>
      <mat-list-item>Disk Clean-up ($149.99)</mat-list-item>
    </mat-list>
    <br /><br />

    <!-- Material button that links to the services component -->
    <div id="button">
      <button mat-raised-button color="accent" class="button" routerLink="/services">Order Services</button>
    </div>
  </div>
  </div>
